
.MemoryCard {
    display: grid;
    place-items: center;
    width: 150px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    perspective: 800px;
    height: 150px;
    width: 120px;
  }
  
  .MemoryCard__inner {
    width: 100% ;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid navy;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }
  
  .MemoryCard__inner.flipped {
    transform: rotateY(180deg);
  }
  
  .MemoryCard__front,
  .MemoryCard__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .MemoryCard__front {
    font-size: 30px;
    padding-top: 50px;
    transform: rotateY(180deg);
  }
  
  .MemoryCard__back {
    background:aliceblue;
  }
  